@using BitcoinShow.Web.Models

@model QuestionViewModel
@{
    ViewData["Title"] = "Create question";
}
@using (Html.BeginForm("Create", "Question", FormMethod.Post, new { @id = "form-question" }))
{
    @Html.LabelFor(m => m.Title)
    @Html.TextBoxFor(m => m.Title)
    <br />
    @for(int i = 0; i < Model.Options.Count; i++)
    {
        @Html.TextBoxFor(m => m.Options[i].Text)
        @Html.RadioButtonFor(m => m.AnswerIndex, i)
        <br />
    }
    
<button>Salvar</button>
}
